.cab-card-container {
    padding: 1rem;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-radius: 0.3125rem;
    border: 1px solid #E3E3E3;
    background: #FFF;
}
.img {
    border-radius: 0.75rem;
    object-fit: cover;
    height: 100%;
    align-self: center;
}
.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: start;
    height: fit-content;
}
.cab-information-header {
    display: grid;
    row-gap: 0.4rem;
    place-content: start;
    flex-grow: 1;
    margin: 0 1rem;
    text-align: left;
}
.cab-information-header strong {
    color: #032551;
    font-style: normal;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}
.cab-information-header span {
    display: flex;
    align-items: center;
}
.dropdown {
    color: #494949;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    padding: 0 3rem;
    box-sizing: border-box;
    width: 14.063rem;
    height: 4rem;
}
.icon {
    display: flex;
    align-items: start;
    align-self: start;
}
.driver-card {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    width: 14.063rem;
    height: 4rem;
    background-color: #E0FFFF;
    border: 1px solid #00BCBC;
    border-radius: 0.3rem;
}
.driver-img {
    border-radius: 0.5rem;
}
.name {
    color: #032551;
    flex-grow: 1;
    padding-left: 0.5rem;
}
.driver-close-icon {
    color: #00BCBC;
    font-size: 1.5rem;
    align-self: center;
    cursor: pointer;
}