.container {
  width: 400px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.08);
  background: white;
}

.header {
  font-size: 1.5rem;
}

.formInputs {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formInputs input {
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
}

.formInputs label input {
  display: none;
}
.formInputs label span {
  font-size: 1.5rem;
  cursor: pointer;
}

.btns {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  padding: 0.5rem 1.5rem;
  background-color: #00bcbc;
  border: none;
  border-radius: 4px;
  color: white;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #019696;
}

.cancelBtn {
  padding: 0.5rem 1.5rem;
  background-color: white;
  border: none;
  outline: 1px solid #00bcbc;
  border-radius: 4px;
  color: #00bcbc;
}

.cancelBtn:hover {
  cursor: pointer;
  color: #019696;
}
