.driver-container {
    width: 80vw;
    margin: 0 auto;
}
.header {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    width: 70vw;
    justify-content: center;
    margin-bottom: 5vh;
}
.searchBar {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    height: 10vh;
    padding: 1rem 0;
    padding-left: 3rem;
    width: 65vw;
}
.list-container {
    list-style: none;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    gap: 1rem 2rem;
    justify-content: center;
}
.list-item-container {
    width: fit-content;
}
.icon {
    color: #A29B9B;
    font-size: 2rem;
    margin-right: 1rem;
}
.input {
    border: 0;
    outline: none;
    flex-grow: 1;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: normal;
}
.input:focus {
    outline: none;
}
.input::placeholder {
    color: #A29B9B;
}
.button {
    color: #FFF;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    background-color: #0CD7D7;
    border: 1px solid #0CD7D7;
    border-radius: 0.79244rem;
    place-self:  center;
    padding: 1rem 3.5rem;
    margin-right: -10vw;
    white-space: nowrap;
}