.driver-card-container {
    border-radius: 0.3125rem;
    border: 1px solid #E3E3E3;
    background: #FFF;
    width: 20rem;
    height: 18rem;
    display: grid;
    justify-content: center;
}
.header {
    display: grid;
    grid-template-columns: auto 7rem auto;
    gap: 0 1rem;
}
.img {
    border-radius: 0.75rem;
    object-fit: contain;
    grid-row: 1 / span 2;
    place-self: center end;
}
.name {
    color: #032551;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    place-self: end start;
    padding-right: 3rem;
}
.id {
    color: #6E8796;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: normal;
    place-self: start;
}
.icon {
    grid-row: 1 / span 2;
    grid-column: 3/ span 1;
    place-self: start center;
    display: flex !important;
    justify-content: end !important;
    font-size: 1.2rem !important;
    margin-top: 0.75rem !important;
}
.icon:hover{
    cursor: pointer;
    color:#032551;
    background-color: white !important;
}
.section-container {
    margin: 0.7rem 0;
}
.section span{
    color: #6E8796;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    margin-left: 0.8rem;
}
.iconTwo {
    color: #bab7b7;
    font-size: 1.2rem;
}
.button {
    border-radius: 0.3125rem;
    border: 1px solid #00BCBC;
    color: #00BCBC;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    transition: 300ms;
}
.button:hover {
    cursor: pointer;
    color: white;
    background-color: #00BCBC;
}
.dropdown {
    color: #000;
    font-weight: 600;
    line-height: normal;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    height: 4rem;
    place-self: center;
}
.driver-card {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    width: 100%;
    height: 4rem;
    background-color: #E0FFFF;
    border: 1px solid #00BCBC;
    border-radius: 0.3rem;
    place-self: center;
}
.driver-img {
    border-radius: 0.5rem;
}
.cab-name {
    color: #032551;
    flex-grow: 1;
    padding-left: 0.5rem;
    align-self: center;
}
.driver-close-icon {
    color: #00BCBC;
    font-size: 1.5rem;
    align-self: center;
    cursor: pointer;
}