.driver-card-container {
    border-radius: 0.3125rem;
    border: 1px solid #E3E3E3;
    background: #FFF;
    width: 15vw;
    padding: 1rem;
}
.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0 1rem;
}
.img {
    border-radius: 0.75rem;
    object-fit: contain;
    grid-row: 1 / span 2;
    place-self: center end;
}
.name {
    color: #032551;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    place-self: end start;
}
.id {
    color: #6E8796;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: normal;
    place-self: start;
}
.icon {
    grid-row: 1 / span 2;
    grid-column: 3/ span 1;
    place-self: start center;
   
}
.icon:hover{
    cursor: pointer;
    color:#032551;
}
.section-container {
    margin: 0.7rem 0;
}
.section span{
    color: #6E8796;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    margin-left: 0.8rem;
}
.iconTwo {
    color: #E3E3E3;
    font-size: 1.2rem;
}
.button {
    border-radius: 0.3125rem;
    border: 1px solid #00BCBC;
    color: #00BCBC;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    transition: 300ms;
}
.button:hover {
    cursor: pointer;
    color: white;
    background-color: #00BCBC;
}